.sp-player-card {
    width: 100%;
    max-width: 350px;
    background-color: #0a0a0a;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #858585; 
}
  
  .cover-photo {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }
  
  .cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .player-photo-container {
    position: relative;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .player-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #0a0a0a;
    object-fit: cover;
  }
  
  .player-content {
    text-align: left;
  }
  
  .player-info {
    flex: 1;
    text-align: left;
  }
  
  .sp-player-name{
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .qr-codde {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
  }
  .player-position {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #04be3e;
    margin: 5px 0;
  }
  
  .club-info {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 5px;
  }
  
  .player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 20px;
  }
  
  .player-club {
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    margin: 0;
    padding-top: 5px;
  }
  
  .club-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 4px;
  }
  