.search-bar {
    position: relative;
    width: 300px;
}

.sp-search-input {
    padding: 8px 12px 8px 36px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 1px solid #333334;
    border-radius: 18px;
    background-color: #333334;
    color: #ffffff;
    width: 200px;
    outline: none;
}

.sp-search-input::placeholder {
    color: #888888;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888888;
    font-size: 16px;
    pointer-events: none;
}
