.home-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  background-color: #0a0a0a;
  padding-left: 20px;
  padding-right: 20px;
}

.posts-container {
  max-width: 700px; /* Optional: Limit the width for better readability */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 14px;
  margin: 0 auto; /* Centers the posts container horizontally */
  background-color: #0a0a0a;
}

.left-menu {
  width: 250px; /* Fixed width for consistency */
  margin-right: 30px;
}

.right-menu {
  width: 300px; /* Fixed width for consistency */
  margin-left: 30px;
}
