.settings-container {
    display: flex;
    height: 100vh;
    background-color: #0a0a0a;
    color: #c9d1d9;
    font-family: 'Poppins', sans-serif;
    padding-left: 250px;
    padding-top: 80px;
}

.settings-sidebar {
    width: 250px;
    background-color: #0a0a0a;
    padding: 20px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.settings-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-sidebar li {
    color: #858585;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.settings-sidebar li:hover{
    background-color: #2d2d2d;
    color: white;
}

.settings-sidebar li.active{
    color: #04be3e;
}

.settings-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #0a0a0a;
}

.settings-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c9d1d9;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #c9d1d9;
}

.form-group textarea {
    resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #238636;
    outline: none;
}

.delete-button {
    background-color: #ff4d4f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button:hover {
    background-color: #d9363e;
}

.form-group.inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group.inline label {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.toggle {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle.active {
    background-color: #28a745;
}

.toggle.active::before {
    transform: translateX(25px);
}

.toggle.inactive {
    background-color: #dc3545;
}




.change-button {
    background-color: #238636;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.change-button:hover {
    background-color: #1f6f30;
}
